<template>
    <div class="about-content" :class="{visible : aboutOpen}"> 
        <p>
            The best royalty free stock photos
            are delivered now along with videos,
            audios, icons, fonts and colors.
            <br><br>
            A project by <a class="ahmet" href="http://twitter.com/ahmetsulek" target="_blank">@ahmetsulek</a><br>
            For <a class="panda" href="http://twitter.com/ahmetsulek" target="_blank">@usepanda</a>
        </p>
        <a href="javascript:" class="button" @click="toggleAbout">CLOSE</a>
    </div>
    <!-- /.about-content -->
</template>

<script>
export default {
    name: 'about',
    methods: {
        toggleAbout: function() {
            this.aboutOpen = !this.aboutOpen;
        }
    },
    data: () => {
        return {
            aboutOpen: false
        }
    }
}
</script>

<style lang="sass">
$light: #95989a;
$green: #4cdbba;
$blue: #00c3e7;

.about-content{
    position: absolute;
    left: 0px;
    top: 70px;
    z-index: 20;
    background: black;
    font-family: "Droid Serif";
    font-size: 15px;
    line-height: 23px;
    color: $light;
    font-style: italic;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    height: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    &.visible{
        height: calc(100% - 70px);
        opacity: 1;
        pointer-events: inherit;
    }
    .ahmet{
        color: $green;
    }
    .panda{
        color: $blue;
    }
    .button{
        clear: both;
        float: right;
        display: block;
        width: 120px;
        height: 35px;
        border: 1px solid #caff57;
        color: #caff57;
        text-align: center;
        line-height: 35px;
        font-family: "brandon-grotesque";
        font-style: normal;
        font-size: 15px;
        border-radius: 3px;
        margin-top: 20px;
        font-weight: bold;
        &:hover{
            background: #caff57;
            color: black;
        }
    }
}
</style>