<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style lang="sass">
html,body{
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    width: 100%;
    height: 100;
    position: absolute;
}

*{margin:0;padding:0;outline:0;font-size:1em;font-weight:normal;font-style:normal;border:0;text-decoration:none;list-style-type:none}

.hidden{
    opacity: 0;
    pointer-events: none;
}
</style>
