<template>
<div class="list">
    <a class="list-item" :class="{featured : photo.featured}" href="javascript:;" v-for="photo in photos">
        {{photo.name}}
    </a>
</div>
</template>

<script>
export default{
    name: 'list',
    data: () => {
        return {
            photos : [
                {
                    name : "PIXABAY",
                    url: "http://pixabay.com",
                    priority: 2
                },
                {
                    name: "STOCKSY",
                    url: "http://stocksy.com",
                    featured: true,
                    priority: 2
                },
                {
                    name: "FREE RANGE",
                    url: "http://stocksy.com",
                    priority: 2
                },
                {
                    name: "LITTLE VISUALS",
                    url: "http://stocksy.com",
                    priority: 2
                }
            ]
        }
    }
}
</script>

<style lang="sass">
$dark: #151515;
$light: #95989a;
$green: #4cdbba;
$blue: #00c3e7;
$pink: #F030B3;
$yellow: #e9fd43;
$red: #ff5451;
$leaf: #57FF71;

.list{
    height: calc(100% - 265px);
    position: absolute;
    overflow: scroll;
    width: 100%;
    bottom: 0px;
    z-index: 10;
    background: $dark;
    .list-item{
        width: 100%;
        display: inline-block;
        float: left;
        border-bottom: 1px solid black;
        height: 40px;
        color: #95989a;
        line-height: 40px;
        text-indent: 36px;
        position: relative;
        font-family: "brandon-grotesque";
        font-size: 16px;
        &:hover{
            color: #fff;
        }
        &.selected{
            background: black;
            color: #fff;
            &:before{
                position: absolute;
                width: 8px;
                height: 8px;
                content: " ";
                background: $green;
                border-radius: 50px;
                top: 15px;
                left: 15px;
            }
        }
        &.featured{
            &:after{
                color: #505050;
                content: "FEATURED";
                font-size: 10px;
                position: absolute;
                right: 10px;
                bottom: -10px;
            }
        }
    }
}
</style>