<template>
<div class="welcome welcomeHidden" :class="{hidden: welcomeHidden}" >   
    <img src="dist/logo.svg" alt="" class="animated fadeInUp"/>
    <div class="divs">
        <div class="animated fadeInUp"></div>
        <div class="animated fadeInUp"></div>
        <div class="animated fadeInUp"></div>
    </div>
</div>
</template>

<script>
export default {
    name : 'onboarding',
    mounted: function(){
       var self = this;
       setTimeout(function(){
           self.welcomeHidden = true;
       }, 2500);
    },
    data : () => {
        return {
            welcomeHidden: false
        }
    }
}    
</script>

<style lang="sass">
$dark: #151515;
$light: #95989a;
$green: #4cdbba;
$blue: #00c3e7;
$pink: #F030B3;
$yellow: #e9fd43;
$red: #ff5451;
$leaf: #57FF71;

.welcome{
    position: fixed;
    left: 0;
    z-index: 10000;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    img{
        width: 500px;
        animation-delay: 0.4s;
        display: block;
        clear: both;
        position: relative;
        top: -50px;
    }
    .divs{
        width: 100%;
        height: 20px;
        position: absolute;
        text-align: center;
        div{
            height: 10px;
            width: 300px;
            background: $yellow;   
            display: inline-block;
            margin-top: 70px;
            margin-left: 10px;
            margin-right: 10px;
            animation-delay: 200ms;
            box-shadow: 0px 3px 80px $yellow;
            &:nth-child(2){
                background: $red;
                animation-delay: 500ms;
                box-shadow: 0px 3px 80px $red;
            }
            &:nth-child(3){
                background: $blue;
                animation-delay: 700ms;
                box-shadow: 0px 3px 80px $blue;
            }
        }
    }
}
</style>