<template>
    <aside>
        <header @click="$refs.about.toggleAbout()">
            <a class="logo" href="javascript:;"></a>
            <a class="about" href="javascript:;"></a>
        </header>
        <about ref="about"></about>
        <div class="categories">    
            <a href="javascript:;" class="category category-image" @click="selectCategory('image')" :class="{selected : selectedCategory == 'image'}">
                <i></i>
                <span>Image</span>
            </a>
            <a href="javascript:;" class="category category-video" @click="selectCategory('video')" :class="{selected : selectedCategory == 'video'}">
                <i></i>
                <span>Video</span>
            </a>
            <a href="javascript:;" class="category category-audio" @click="selectCategory('audio')" :class="{selected : selectedCategory == 'audio'}">
                <i></i>
                <span>Audio</span>
            </a>
            <a href="javascript:;" class="category category-colors" @click="selectCategory('colors')" :class="{selected : selectedCategory == 'colors'}">
                <i></i>
                <span>Colors</span>
            </a>
            <a href="javascript:;" class="category category-icons" @click="selectCategory('icons')" :class="{selected : selectedCategory == 'icons'}">
                <i></i>
                <span>Icons</span>
            </a>
            <a href="javascript:;" class="category category-fonts" @click="selectCategory('fonts')" :class="{selected : selectedCategory == 'fonts'}">
                <i></i>
                <span>Fonts</span>
            </a>
        </div>
        <!-- /.categories -->
        <list></list>
    </aside>
</template>

<script>
import About from './About.vue'
import List from './List.vue'

export default {
    name: 'sidebar',
    methods: {
        selectCategory: function(name) {
            this.selectedCategory = name;
        }
    },
    components:{
        'about' : About,
        'list' : List
    },
    mounted: function() {
        var self = this;
        setTimeout(function() {
            self.welcomeHidden = true;
        }, 2500);
    },
    data: () => {
        return {
            selectedCategory: 'image'
        }
    }
}
</script>

<style lang="sass">
$dark: #151515;
$light: #95989a;
$green: #4cdbba;
$blue: #00c3e7;
$pink: #F030B3;
$yellow: #e9fd43;
$red: #ff5451;
$leaf: #57FF71;

aside{
    width: 300px;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    header{
        background: $dark;
        height: 70px;
        width: 100%;
        float: left;
        position: relative;
        .logo{
            width: 200px;
            height: 25px;
            display: inline-block;
            background: url(assets/logo.svg);
            background-repeat: no-repeat;
            position: absolute;
            left: 50px;
            top: 24px;
            transition: all 0.2s;
        }
        .about{
            width: 33px;
            height: 33px;
            background: url(assets/about.svg);
            position: absolute;
            right: 20px;
            top: 18px;
            opacity: 0;
            transform: scale(0.8);
            transition: all 0.2s;
        }
        &:hover{
            .logo{
                left: 33px;
            }
            .about{
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}
.categories{
    width: 100%;
    height: 200px;
    float: left;
    position: relative;
    .category{
        width: 60px;
        height: 60px;
        float: left;
        display: inline-block;
        background-color: $dark;
        margin-left: 36px;
        margin-top: 24px;
        position: relative;
        border: 1px solid $dark;
        transition: transform 0.2s, border 0.2s;
        i{
            display: inline-block;
            width: 22px;
            height: 22px;
            position: absolute;
            background-image: url(assets/icons-sprite.svg);
            background-repeat: no-repeat;
            background-position: 0px 0px;
            top: 10px;
            left: 19px;
        }
        span{
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 20px;
            bottom: 5px;
            line-height: 20px;
            text-align: center;
            font-size: 14px;
            color: $light;
            font-family: "brandon-grotesque";
//             text-transform: uppercase;
//             font-size: 10px;
            -webkit-font-smoothing: antialiased;
        }
        &:active{
            transform: scale(0.95);
        }
        &:hover{
            i{
                background-position-y:-22px;
            }
            span{
                color: #fff;
            }
        }
        &.selected{
            i{
                background-position-y:-44px;
            }
        }
        &.category-image{
            &.selected{
                border-color: $green;
                span{
                    color: $green;
                }
            }
        }
        &.category-video{
            margin-left: 24px;
            i{
                background-position-x: -22px;
            }
            &.selected{
                border-color: $blue;
                span{
                    color: $blue;
                }
            }
        }
        &.category-audio{
            margin-left: 24px;
            i{
                background-position-x: -44px;
            }
            &.selected{
                border-color: $pink;
                span{
                    color: $pink;
                }
            }
        }
        &.category-colors{
            i{
                background-position-x: -66px;
            }
            &.selected{
                border-color: $yellow;
                span{
                    color: $yellow;
                }
            }
        }
        &.category-icons{
            margin-left: 24px;
            i{
                background-position-x: -88px;
            }
            &.selected{
                border-color: $red;
                span{
                    color: $red;
                }
            }
        }
        &.category-fonts{
            margin-left: 24px;
            i{
                background-position-x: -110px;
            }
            &.selected{
                border-color: $leaf;
                span{
                    color: $leaf;
                }
            }
        }
    }
}
</style>